In [1]:
a={}
print(a)
print(type(a))

{}
<class 'dict'>

In [2]:
a=dict()
print(a)
print(type(a))

{}
<class 'dict'>

In [3]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [4]:
a={"Name 1": "Shruti", "Name 2": "Imran", "Name 3": "Ansh"}
a

{'Name 1': 'Shruti', 'Name 2': 'Imran', 'Name 3': 'Ansh'}

In [6]:
a["name 4"]="deepali"
a

{'Name 1': 'Shruti', 'Name 2': 'Imran', 'Name 3': 'Ansh', 'name 4': 'deepali'}

In [7]:
#key has ro be unique, else it will over right it
a["name 1"]="deepa"
a

{'Name 1': 'Shruti',
 'Name 2': 'Imran',
 'Name 3': 'Ansh',
 'name 4': 'deepali',
 'name 1': 'deepa'}

In [8]:
a['Name 2']

'Imran'

In [9]:

a['Name 6']

KeyError: 'Name 6'

In [12]:
a.get('Name 2')

'Imran'

In [15]:
a.get('Name 6',"No such key found")

'No such key found'

In [16]:
a.keys()

dict_keys(['Name 1', 'Name 2', 'Name 3', 'name 4', 'name 1'])

In [17]:
a.values()

dict_values(['Shruti', 'Imran', 'Ansh', 'deepali', 'deepa'])

In [18]:
a.items()

dict_items([('Name 1', 'Shruti'), ('Name 2', 'Imran'), ('Name 3', 'Ansh'), ('name 4', 'deepali'), ('name 1', 'deepa')])

In [19]:
#The values in dictionary items can be of any data type:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [22]:
# iterations in dictionary


for x in thisdict.keys():
    print(x)

brand
electric
year
colors

In [24]:
for x in thisdict.values():
    print(x)

Ford
False
1964
['red', 'white', 'blue']

In [26]:
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('electric', False)
('year', 1964)
('colors', ['red', 'white', 'blue'])

In [27]:
#Make a copy of a dictionary with the copy() method:

print("Old Dictionary\n")
print(thisdict)
new_dict = thisdict.copy()
print("\nNew Dictionary\n")
print(new_dict)

Old Dictionary

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

New Dictionary

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [28]:
#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)
print('\n')
print(myfamily.keys())
print('\n')
print(myfamily.values())
print('\n')
print(myfamily.items())

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}


dict_keys(['child1', 'child2', 'child3'])


dict_values([{'name': 'Emil', 'year': 2004}, {'name': 'Tobias', 'year': 2007}, {'name': 'Linus', 'year': 2011}])


dict_items([('child1', {'name': 'Emil', 'year': 2004}), ('child2', {'name': 'Tobias', 'year': 2007}), ('child3', {'name': 'Linus', 'year': 2011})])

In [29]:
myfamily['child1']

{'name': 'Emil', 'year': 2004}

In [30]:
myfamily['child1']['year']

2004

In [32]:
myfamily['child1'].keys()

dict_keys(['name', 'year'])

In [33]:
myfamily['child1'].values()

dict_values(['Emil', 2004])

In [34]:
#Create three dictionaries, then create one dictionary that will contain the other three dictionaries:

child1 = {
  "name" : "Emil",
  "year" : 2004
}

child2 = {
  "name" : "Tobias",
  "year" : 2007
}

child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "c1" : child1,
  "c2" : child2,
  "c3" : child3
}
print(myfamily)

{'c1': {'name': 'Emil', 'year': 2004}, 'c2': {'name': 'Tobias', 'year': 2007}, 'c3': {'name': 'Linus', 'year': 2011}}

In [35]:
# make a dictionary to add name and makrks of a student

s_data={}
s_data
s_data['Name']="Shruti"
s_data['Marks']=5
s_data

{'Name': 'Shruti', 'Marks': 5}

In [55]:
d ={}

for i in range(3):
    key=input("Enter student name: ")
    value=int(input("Enter student marks: "))
    d.update({key:value})
print(d)

Enter student name: goe
Enter student marks: 9
Enter student name: hio
Enter student marks: 9
Enter student name: toti
Enter student marks: 5
{'goe': 9, 'hio': 9, 'toti': 5}

In [56]:
print("Marks of students are : ")
d.values()

Marks of students are :

dict_values([9, 9, 5])

In [57]:
print("Marks of students are : ")
m=d.values()
print(m)

Marks of students are :
dict_values([9, 9, 5])

In [58]:
# Find student scoring max marks

s=max(d,key=d.get)
print("Name of the student scoring highest in class is", s)

Name of the student scoring highest in class is goe

In [59]:
sum(m)

23

TypeError: unsupported operand type(s) for +: 'int' and 'str'